body{
    background-color: lightblue;
    color: lightslategray;
    font-family: Helvetica;
}

.education{
    margin: 10px;
    padding: 5px;
    font-weight: bold;
    border: violet 5px dashed
}

.important{
    font-style: italic;
}

.skills{
    margin: 10px;
    padding: 5px;
    font-style: italic;
    border: darkblue 5px solid;
}

.experience{
    margin: 10px;
    padding: 5px;
    background-color: teal;
    font-family: sans-serif;
    color: white;
    border: blue 10px solid;
}

.contact{
    margin: 10px;
    padding: 5px;
    font-style: oblique;
    background-color: lightcoral;
    color: white;
    border: white 10px dashed;
}

.intro{
    font-size: 16pt;
}

em{
    font-weight: bold;
}
